/* Frame 1 */

position: relative;
width: 1920px;
height: 1080px;

background: #FFFFFF;


/* image 2 */

position: absolute;
width: 1919px;
height: 1079px;
left: 1px;
top: 1px;

background: url(image);


/* Rectangle 1 */

position: absolute;
width: 1920px;
height: 1080px;
left: 0px;
top: 0px;

background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 99.99%, rgba(9, 8, 8, 0) 100%), radial-gradient(52.1% 52.1% at 50% 47.9%, rgba(38, 38, 38, 0) 0%, #262626 100%);


/* Caixa Colete */

position: absolute;
width: 712.78px;
height: 258.56px;
left: 162px;
top: 405px;



/* COLETE ARK */

position: absolute;
width: 509px;
height: 69px;
left: 162px;
top: 405px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 78px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Fabricando os melhores coletes desde 2018, com autenticidade, tecnologia e segurança. */

position: absolute;
width: 711.56px;
height: 142.24px;
left: 163.22px;
top: 473.9px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;

color: #FFFFFF;



/* Saiba Mais */

position: absolute;
width: 266.07px;
height: 47.41px;
left: 163.22px;
top: 616.14px;



/* Rectangle 2 */

position: absolute;
width: 266.07px;
height: 47.41px;
left: 163.22px;
top: 616.14px;

border: 2px solid #FFFFFF;
box-sizing: border-box;


/* Saiba Mais */

position: absolute;
width: 266.07px;
height: 47.41px;
left: 163.22px;
top: 616.14px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Vector 1 */

position: absolute;
width: 1920px;
height: 202px;
left: 0px;
top: 876px;

background: #434343;
border: 1px solid #414141;


/* Bottom */

position: absolute;
width: 465px;
height: 36px;
left: 281px;
top: 990px;



/* Instagram */

position: absolute;
width: 142px;
height: 21px;
left: 281px;
top: 995px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Facebook */

position: absolute;
width: 142px;
height: 21px;
left: 443px;
top: 995px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Política de Privacidade */

position: absolute;
width: 141px;
height: 36px;
left: 605px;
top: 990px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Contato: starkcompanymail.com.br (11) 4589-9632 */

position: absolute;
width: 555px;
height: 40px;
left: 1110px;
top: 1008px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* LogoF */

position: absolute;
width: 1920px;
height: 116px;
left: 0px;
top: 0px;



/* LOGO */

position: absolute;
width: 344px;
height: 62.63px;
left: 303px;
top: 42.37px;



/* Vector 3 */

position: absolute;
width: 330px;
height: 20px;
left: 310px;
top: 85px;

background: #751313;


/* STARK COMPANY */

position: absolute;
width: 344px;
height: 42.37px;
left: 303px;
top: 42.37px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 44px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Group 2 */

position: absolute;
width: 618px;
height: 35.49px;
left: 1140px;
top: 49.43px;



/* Início */

position: absolute;
width: 110.83px;
height: 35.07px;
left: 1140px;
top: 49.43px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Shop */

position: absolute;
width: 110.83px;
height: 35.07px;
left: 1309.27px;
top: 49.43px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Suporte */

position: absolute;
width: 110.83px;
height: 35.07px;
left: 1478.53px;
top: 49.43px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Sobre Nós */

position: absolute;
width: 110.83px;
height: 35.07px;
left: 1647.17px;
top: 49.84px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Rectangle 5 */

position: absolute;
width: 1920px;
height: 116px;
left: 0px;
top: 0px;

background: linear-gradient(180deg, #FF4A4A -31.3%, rgba(255, 86, 86, 0.927083) -31.29%, rgba(94, 62, 62, 0) 100%);
